@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Ubuntu+Mono%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-uXzpoZyna: #ffffff;
  --plasmic-token-white: var(--token-uXzpoZyna);
  --token-x-jM3ENAo: #fef5ac;
  --plasmic-token-gold-fg: var(--token-x-jM3ENAo);
  --token-iycsPjQvq: #ffeea8;
  --plasmic-token-gold-bg: var(--token-iycsPjQvq);
  --token-PRgx9PicR: #25316d;
  --plasmic-token-navy: var(--token-PRgx9PicR);
}

.plasmic_default_styles {
  --mixin-0UA55gLjjw1_font-family: "Inter", sans-serif;
  --mixin-0UA55gLjjw1_font-size: 16px;
  --mixin-0UA55gLjjw1_font-weight: 400;
  --mixin-0UA55gLjjw1_font-style: normal;
  --mixin-0UA55gLjjw1_color: #535353;
  --mixin-0UA55gLjjw1_text-align: left;
  --mixin-0UA55gLjjw1_text-transform: none;
  --mixin-0UA55gLjjw1_line-height: 1.5;
  --mixin-0UA55gLjjw1_letter-spacing: normal;
  --mixin-0UA55gLjjw1_white-space: pre-wrap;
  --mixin-0UA55gLjjw1_user-select: text;
  --mixin-0UA55gLjjw1_text-decoration-line: none;
  --mixin-0UA55gLjjw1_text-overflow: clip;
  --mixin-40jV7loYZE7K_color: #000000;
  --mixin-40jV7loYZE7K_font-weight: 900;
  --mixin-40jV7loYZE7K_font-size: 72px;
  --mixin-40jV7loYZE7K_line-height: 1;
  --mixin-40jV7loYZE7K_letter-spacing: -4px;
  --mixin-40jV7loYZE7K_white-space: pre-wrap;
  --mixin-OnP3dWE3k9hv_color: #000000;
  --mixin-OnP3dWE3k9hv_font-size: 48px;
  --mixin-OnP3dWE3k9hv_font-weight: 700;
  --mixin-OnP3dWE3k9hv_letter-spacing: -1px;
  --mixin-OnP3dWE3k9hv_line-height: 1.1;
  --mixin-OnP3dWE3k9hv_white-space: pre-wrap;
  --mixin-pSCNt0FbIq-d_color: #0070f3;
  --mixin-pSCNt0FbIq-d_white-space: pre-wrap;
  --mixin-EqYYPSL53hpk_color: #000000;
  --mixin-EqYYPSL53hpk_font-size: 32px;
  --mixin-EqYYPSL53hpk_font-weight: 600;
  --mixin-EqYYPSL53hpk_letter-spacing: -0.8px;
  --mixin-EqYYPSL53hpk_line-height: 1.2;
  --mixin-EqYYPSL53hpk_white-space: pre-wrap;
  --mixin-O4DuAellQQgc_color: #000000;
  --mixin-O4DuAellQQgc_font-size: 24px;
  --mixin-O4DuAellQQgc_font-weight: 600;
  --mixin-O4DuAellQQgc_letter-spacing: -0.5px;
  --mixin-O4DuAellQQgc_line-height: 1.3;
  --mixin-O4DuAellQQgc_white-space: pre-wrap;
  --mixin--ZTGR_3javHW_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--ZTGR_3javHW_border-bottom-color: #dddddd;
  --mixin--ZTGR_3javHW_border-bottom-style: solid;
  --mixin--ZTGR_3javHW_border-bottom-width: 1px;
  --mixin--ZTGR_3javHW_border-left-color: #dddddd;
  --mixin--ZTGR_3javHW_border-left-style: solid;
  --mixin--ZTGR_3javHW_border-left-width: 1px;
  --mixin--ZTGR_3javHW_border-right-color: #dddddd;
  --mixin--ZTGR_3javHW_border-right-style: solid;
  --mixin--ZTGR_3javHW_border-right-width: 1px;
  --mixin--ZTGR_3javHW_border-top-color: #dddddd;
  --mixin--ZTGR_3javHW_border-top-style: solid;
  --mixin--ZTGR_3javHW_border-top-width: 1px;
  --mixin--ZTGR_3javHW_border-bottom-left-radius: 3px;
  --mixin--ZTGR_3javHW_border-bottom-right-radius: 3px;
  --mixin--ZTGR_3javHW_border-top-left-radius: 3px;
  --mixin--ZTGR_3javHW_border-top-right-radius: 3px;
  --mixin--ZTGR_3javHW_font-family: "Inconsolata";
  --mixin--ZTGR_3javHW_padding-bottom: 1px;
  --mixin--ZTGR_3javHW_padding-left: 4px;
  --mixin--ZTGR_3javHW_padding-right: 4px;
  --mixin--ZTGR_3javHW_padding-top: 1px;
  --mixin--ZTGR_3javHW_white-space: pre-wrap;
  --mixin-ykIEqgrWLDO4_border-left-color: #dddddd;
  --mixin-ykIEqgrWLDO4_border-left-style: solid;
  --mixin-ykIEqgrWLDO4_border-left-width: 3px;
  --mixin-ykIEqgrWLDO4_color: #888888;
  --mixin-ykIEqgrWLDO4_padding-left: 10px;
  --mixin-ykIEqgrWLDO4_white-space: pre-wrap;
  --mixin--QyruS14Afyy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--QyruS14Afyy_border-bottom-color: #dddddd;
  --mixin--QyruS14Afyy_border-bottom-style: solid;
  --mixin--QyruS14Afyy_border-bottom-width: 1px;
  --mixin--QyruS14Afyy_border-left-color: #dddddd;
  --mixin--QyruS14Afyy_border-left-style: solid;
  --mixin--QyruS14Afyy_border-left-width: 1px;
  --mixin--QyruS14Afyy_border-right-color: #dddddd;
  --mixin--QyruS14Afyy_border-right-style: solid;
  --mixin--QyruS14Afyy_border-right-width: 1px;
  --mixin--QyruS14Afyy_border-top-color: #dddddd;
  --mixin--QyruS14Afyy_border-top-style: solid;
  --mixin--QyruS14Afyy_border-top-width: 1px;
  --mixin--QyruS14Afyy_border-bottom-left-radius: 3px;
  --mixin--QyruS14Afyy_border-bottom-right-radius: 3px;
  --mixin--QyruS14Afyy_border-top-left-radius: 3px;
  --mixin--QyruS14Afyy_border-top-right-radius: 3px;
  --mixin--QyruS14Afyy_font-family: "Inconsolata";
  --mixin--QyruS14Afyy_padding-bottom: 3px;
  --mixin--QyruS14Afyy_padding-left: 6px;
  --mixin--QyruS14Afyy_padding-right: 6px;
  --mixin--QyruS14Afyy_padding-top: 3px;
  --mixin--QyruS14Afyy_white-space: pre-wrap;
  --mixin-4p-vbAKz77yd_display: flex;
  --mixin-4p-vbAKz77yd_flex-direction: column;
  --mixin-4p-vbAKz77yd_align-items: stretch;
  --mixin-4p-vbAKz77yd_justify-content: flex-start;
  --mixin-4p-vbAKz77yd_list-style-position: outside;
  --mixin-4p-vbAKz77yd_padding-left: 40px;
  --mixin-4p-vbAKz77yd_position: relative;
  --mixin-4p-vbAKz77yd_list-style-type: disc;
  --mixin-4p-vbAKz77yd_white-space: pre-wrap;
  --mixin-zEaJZmR_9Ig0_display: flex;
  --mixin-zEaJZmR_9Ig0_flex-direction: column;
  --mixin-zEaJZmR_9Ig0_align-items: stretch;
  --mixin-zEaJZmR_9Ig0_justify-content: flex-start;
  --mixin-zEaJZmR_9Ig0_list-style-position: outside;
  --mixin-zEaJZmR_9Ig0_padding-left: 40px;
  --mixin-zEaJZmR_9Ig0_position: relative;
  --mixin-zEaJZmR_9Ig0_list-style-type: decimal;
  --mixin-zEaJZmR_9Ig0_white-space: pre-wrap;
  --mixin-54QKQUwtwaZD_color: #000000;
  --mixin-54QKQUwtwaZD_font-size: 20px;
  --mixin-54QKQUwtwaZD_font-weight: 600;
  --mixin-54QKQUwtwaZD_letter-spacing: -0.3px;
  --mixin-54QKQUwtwaZD_line-height: 1.5;
  --mixin-54QKQUwtwaZD_white-space: pre-wrap;
  --mixin-XbNoJmj_LEoy_color: #000000;
  --mixin-XbNoJmj_LEoy_font-size: 16px;
  --mixin-XbNoJmj_LEoy_font-weight: 600;
  --mixin-XbNoJmj_LEoy_line-height: 1.5;
  --mixin-XbNoJmj_LEoy_white-space: pre-wrap;
  --mixin-g7RkgcOPnK8Q_color: #3291ff;
  --mixin-g7RkgcOPnK8Q_white-space: pre-wrap;
  --mixin-1MH6x0hbtoRX_white-space: pre-wrap;
  --mixin-luUymgzB6RPC_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-0UA55gLjjw1_font-family);
  font-size: var(--mixin-0UA55gLjjw1_font-size);
  font-weight: var(--mixin-0UA55gLjjw1_font-weight);
  font-style: var(--mixin-0UA55gLjjw1_font-style);
  color: var(--mixin-0UA55gLjjw1_color);
  text-align: var(--mixin-0UA55gLjjw1_text-align);
  text-transform: var(--mixin-0UA55gLjjw1_text-transform);
  line-height: var(--mixin-0UA55gLjjw1_line-height);
  letter-spacing: var(--mixin-0UA55gLjjw1_letter-spacing);
  white-space: var(--mixin-0UA55gLjjw1_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-40jV7loYZE7K_color);
  font-weight: var(--mixin-40jV7loYZE7K_font-weight);
  font-size: var(--mixin-40jV7loYZE7K_font-size);
  line-height: var(--mixin-40jV7loYZE7K_line-height);
  letter-spacing: var(--mixin-40jV7loYZE7K_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-OnP3dWE3k9hv_color);
  font-size: var(--mixin-OnP3dWE3k9hv_font-size);
  font-weight: var(--mixin-OnP3dWE3k9hv_font-weight);
  letter-spacing: var(--mixin-OnP3dWE3k9hv_letter-spacing);
  line-height: var(--mixin-OnP3dWE3k9hv_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-pSCNt0FbIq-d_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-EqYYPSL53hpk_color);
  font-size: var(--mixin-EqYYPSL53hpk_font-size);
  font-weight: var(--mixin-EqYYPSL53hpk_font-weight);
  letter-spacing: var(--mixin-EqYYPSL53hpk_letter-spacing);
  line-height: var(--mixin-EqYYPSL53hpk_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-O4DuAellQQgc_color);
  font-size: var(--mixin-O4DuAellQQgc_font-size);
  font-weight: var(--mixin-O4DuAellQQgc_font-weight);
  letter-spacing: var(--mixin-O4DuAellQQgc_letter-spacing);
  line-height: var(--mixin-O4DuAellQQgc_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin--ZTGR_3javHW_font-family);
  border-radius: var(--mixin--ZTGR_3javHW_border-top-left-radius) var(--mixin--ZTGR_3javHW_border-top-right-radius)
    var(--mixin--ZTGR_3javHW_border-bottom-right-radius) var(--mixin--ZTGR_3javHW_border-bottom-left-radius);
  padding: var(--mixin--ZTGR_3javHW_padding-top) var(--mixin--ZTGR_3javHW_padding-right)
    var(--mixin--ZTGR_3javHW_padding-bottom) var(--mixin--ZTGR_3javHW_padding-left);
  border-top: var(--mixin--ZTGR_3javHW_border-top-width) var(--mixin--ZTGR_3javHW_border-top-style)
    var(--mixin--ZTGR_3javHW_border-top-color);
  border-right: var(--mixin--ZTGR_3javHW_border-right-width) var(--mixin--ZTGR_3javHW_border-right-style)
    var(--mixin--ZTGR_3javHW_border-right-color);
  border-bottom: var(--mixin--ZTGR_3javHW_border-bottom-width) var(--mixin--ZTGR_3javHW_border-bottom-style)
    var(--mixin--ZTGR_3javHW_border-bottom-color);
  border-left: var(--mixin--ZTGR_3javHW_border-left-width) var(--mixin--ZTGR_3javHW_border-left-style)
    var(--mixin--ZTGR_3javHW_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-ykIEqgrWLDO4_color);
  padding-left: var(--mixin-ykIEqgrWLDO4_padding-left);
  border-left: var(--mixin-ykIEqgrWLDO4_border-left-width) var(--mixin-ykIEqgrWLDO4_border-left-style)
    var(--mixin-ykIEqgrWLDO4_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin--QyruS14Afyy_font-family);
  border-radius: var(--mixin--QyruS14Afyy_border-top-left-radius) var(--mixin--QyruS14Afyy_border-top-right-radius)
    var(--mixin--QyruS14Afyy_border-bottom-right-radius) var(--mixin--QyruS14Afyy_border-bottom-left-radius);
  padding: var(--mixin--QyruS14Afyy_padding-top) var(--mixin--QyruS14Afyy_padding-right)
    var(--mixin--QyruS14Afyy_padding-bottom) var(--mixin--QyruS14Afyy_padding-left);
  border-top: var(--mixin--QyruS14Afyy_border-top-width) var(--mixin--QyruS14Afyy_border-top-style)
    var(--mixin--QyruS14Afyy_border-top-color);
  border-right: var(--mixin--QyruS14Afyy_border-right-width) var(--mixin--QyruS14Afyy_border-right-style)
    var(--mixin--QyruS14Afyy_border-right-color);
  border-bottom: var(--mixin--QyruS14Afyy_border-bottom-width) var(--mixin--QyruS14Afyy_border-bottom-style)
    var(--mixin--QyruS14Afyy_border-bottom-color);
  border-left: var(--mixin--QyruS14Afyy_border-left-width) var(--mixin--QyruS14Afyy_border-left-style)
    var(--mixin--QyruS14Afyy_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-4p-vbAKz77yd_display);
  flex-direction: var(--mixin-4p-vbAKz77yd_flex-direction);
  align-items: var(--mixin-4p-vbAKz77yd_align-items);
  justify-content: var(--mixin-4p-vbAKz77yd_justify-content);
  list-style-position: var(--mixin-4p-vbAKz77yd_list-style-position);
  padding-left: var(--mixin-4p-vbAKz77yd_padding-left);
  position: var(--mixin-4p-vbAKz77yd_position);
  list-style-type: var(--mixin-4p-vbAKz77yd_list-style-type);
  flex-column-gap: var(--mixin-4p-vbAKz77yd_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-zEaJZmR_9Ig0_display);
  flex-direction: var(--mixin-zEaJZmR_9Ig0_flex-direction);
  align-items: var(--mixin-zEaJZmR_9Ig0_align-items);
  justify-content: var(--mixin-zEaJZmR_9Ig0_justify-content);
  list-style-position: var(--mixin-zEaJZmR_9Ig0_list-style-position);
  padding-left: var(--mixin-zEaJZmR_9Ig0_padding-left);
  position: var(--mixin-zEaJZmR_9Ig0_position);
  list-style-type: var(--mixin-zEaJZmR_9Ig0_list-style-type);
  flex-column-gap: var(--mixin-zEaJZmR_9Ig0_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-54QKQUwtwaZD_color);
  font-size: var(--mixin-54QKQUwtwaZD_font-size);
  font-weight: var(--mixin-54QKQUwtwaZD_font-weight);
  letter-spacing: var(--mixin-54QKQUwtwaZD_letter-spacing);
  line-height: var(--mixin-54QKQUwtwaZD_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-XbNoJmj_LEoy_color);
  font-size: var(--mixin-XbNoJmj_LEoy_font-size);
  font-weight: var(--mixin-XbNoJmj_LEoy_font-weight);
  line-height: var(--mixin-XbNoJmj_LEoy_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-g7RkgcOPnK8Q_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
